<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body class="bg-info-subtle">
    <div class="container text-center">
      <div class="row">
        <h1 class="display-1">Self-Care App</h1>
      </div>
      <!--FIRST ROW-->
      <div class="row">
        <div class="row"><%- include('partials/header.ejs') %></div>
        <div class="bg-primary-subtle">
        <h1 class="display-6 fs-3">Hello there!</h1>
        <h2 class="display-6 fs-4">
          Discover a growing database of emotions and corresponding skills
          designed to help you explore and navigate your feelings. Whether
          you’re seeking ways to express your emotions or develop strategies to
          cope, our resources aim to provide practical insights and inspiration.
          <h2 class="display-6 fs-4">
            Important Notice: This platform is for informational purposes only
            and is not a substitute for professional medical or psychological
            advice. If you are feeling unsafe, overwhelmed, or experiencing
            suicidal thoughts, we strongly encourage you to contact crisis
            support services in your region. Help is available, and you don’t
            have to face it alone.
          </h2>
          <br>
          <h3 class="display-6 fs-5 fw-bold">National helplines</h3>
          <h3 class="display-6 fs-5">Need to talk?</h3>
          <h3 class="display-6 fs-5">
            Free call or text 1737 any time for support from a trained
            counsellor.
          </h3>
          <h3 class="display-6 fs-5">
            Lifeline – 0800 543 354 (0800 LIFELINE) or free text 4357 (HELP).
          </h3>
          <h3 class="display-6 fs-5">
            Youthline – 0800 376 633, free text 234 or email
            talk@youthline.co.nz or online chat.
          </h3>
          <h3 class="display-6 fs-5">Samaritans – 0800 726 666</h3>
          <h3 class="display-6 fs-5">
            Suicide Crisis Helpline – 0508 828 865 (0508 TAUTOKO).
          </h3></div>
        </h2>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
